{% load edc_base_extras %}
<div class="table-responsive small text-default">
    <table class="table table-condensed">
        <thead></thead>
        <tbody>
	        <tr>
		        <td class="{% if consent %}success{% else %}warning{% endif %}">
			        {% with wrapped=consent %}
			            {% include 'edc_dashboard/controls/change_button.html' %}
			        {% endwith %}
				</td>
		        <td class="{% if consent %}success{% else %}warning{% endif %}">
		            <h6>{{ consent.verbose_name|title }} v{{ consent.version }} <span class="text text-muted">{{ consent.consent_datetime|date:"Y-m-d"}}</span></h6> 
		        </td>
	        </tr>
	        <tr>
	            {% with wrapped=subject_locator %}
	                {% include 'edc_dashboard/controls/change_button_as_column.html' %}
	            {% endwith %}
	        </tr>
	        <tr>
		        <td class="warning" >
		        	<a class="btn btn-warning" href="{% url 'edc_appointment:unscheduled_appointment_url' subject_identifier %}">
		        		<i class="fa fa-plus fa-fw"></i>
			         </a>
				</td>
		        <td class="warning" >
		            <h6>Unscheduled Appointment</span></h6> 
		        </td>
	        </tr>
        </tbody>
    </table>
</div>
