{% extends "edc_dashboard/listboard.html" %}
             
{% block listboard_panel_color %}panel-info{% endblock listboard_panel_color %}

{% block listboard_panel_icon %}fa fa-user-plus fa-2x{% endblock listboard_panel_icon %}
             
{% block listboard_panel %}
    {% include 'ambition_dashboard/screening/listboard/add_subject_screening_button.html' %}
{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Eligible?</th>
    <th>Screening Identifier</th>
    <th>Subject Identifier</th>
    <th>Age</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

{% block listboard_table_body %}
    <!-- begin results body -->
    {% for result in results %}
        <tr><td>{{ forloop.counter }}</td>        
        {% include 'ambition_dashboard/screening/listboard/buttons_column.html' %}
        {% include 'ambition_dashboard/screening/listboard/columns.html' %}
        </tr>                       
    {% endfor %}
    <!-- begin results body -->
{% endblock listboard_table_body %}
